@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Vazirmatn", sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #081035;
  /* colors: ; */
  max-width: 100rem;
  margin-inline: auto;
  font-feature-settings: "ss02";
}

.hover-link {
  @apply relative after:absolute after:left-0 after:-bottom-1.5 after:w-0 after:h-[0.185rem] after:bg-colors-forest after:transition-all
    after:scale-x-0 after:origin-left after:duration-500 hover:after:scale-x-100 hover:after:w-full;
}

.button {
  @apply px-4 lg:px-5 pt-1.5 pb-2 lg:pt-1.5 lg:pb-2.5 bg-colors-forest rounded-full text-sm md:text-base lg:text-lg font-normal text-colors-white hover:bg-colors-midnight
  transition-colors duration-300;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
